
h2 {
    float: inherit;
}

#deserite{

     float:inherit;
}


#services {
  height: 425px;

    background-color: white;
     display: flex;


  /* text-align: center;*/
    justify-content: center;
}

#hr {

  display: flex;

  width: 123%;



}

#hr div {

  width: 61%;
  display: flex;
  justify-content: space-between;
  padding-left: 26px;
  align-items: center;
  padding-bottom: 12px;
  color: #91919980;
}


#cadrage_image{


    height: 96px;
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10%;

}
}


#gros_cadrage{

   display: block;

}




#article{




    width: 60%;

    display: flex;

    justify-content: left;

    font-size: 54%;


}

#image_1{

  float: left;
  width: 91px;
  height: 91px;

    }

#texte {

  width: 47%;

 font-size: 1em;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 padding-left: 46px;
 color: grey;
}

#texte p{
   color: var(--couleur_font);



}
