#dispatch {

display: flex;
}





#article_gauche{

width: 100%;
margin-right: 5%;
}

#article_droite{
  width: 100%;

  display: flex;
  flex-direction: column;
   margin-left: 5%;
}

#article_droite h2{

font-size: 26px;
}

#dispatch_our_contact{

  display: flex;
}


#our_contact_gauche{

  width: 50%;
}

#our_contact_gauche p{

  margin: 4px;
}


#our_contact_droite{
  width: 50%;

}

#our_contact_droite p{

margin: 4px;
}

#our_contact_droite :nth-child(1){

color: blue;


}


form{

display: flex;
flex-direction: column;

}



#input{

height: 131px;

}


button {

  height: 40px;
  width: 141px;
  border: 0px;
  background-color: var(--couleur_bouton);
  margin-bottom: 26px;
  color: white;
}

input textarea{

width: 96%;
}



#meth_design p{

font-size: 13px;

}


#meth_design h3{

font-weight:lighter;

}

form label{

  font-size: 14px;
  margin-bottom: 27px;

}


#centrage h2 *#from{

color: white;

}






#textes{
display: flex;

}

#liste_texte_1{

color: white;
padding-bottom: 48px;
}

#centrage h2{

  color: grey;
  font-weight: lighter;

  margin-bottom: 68px;

}

#liste_texte_1 :nth-child(2n) {

font-size: 10px;

}


.fab {

  font-family: Font Awesome 5 Brands;
  font-size: 31px;
  margin-top: 17px;
  color: #656569cc;
}

footer #centrage{

display: flex;

}

footer #centrage p{

margin: 4px;

}
