header{




    display: flex;
    /* text-align: center; */
    justify-content: center;
    margin-bottom: 1%;
}

#nav{

}

#liste{

display: flex;
display: flex;

padding: 0px;
}

#logo_meth{
  display: flex;

  align-items: center;

padding-top: 24px;

}

.logo_meth img {

width: 166px;

height: 74px;

}

.logo_meth nav{
  display: flex;

  align-items: center;
width: 100%;
padding-left: 68px;
}



#meth {

    float: left;
    padding-left: 20%;
    padding-right: 21%;
    font-size: 100%;
    text-decoration: none;

}

#nav_liste{
        font-size: 67%;
margin-top: 3%;
}

.logo_meth{
  display: flex;

margin-top: 6%;




}





#nav_liste li  {
      margin: 0px;

    display: inline;
  padding-right: 2%;
  padding-top: 0%;
      color: white;

}

#nav_liste li  a{

    color: white;

}

#liste li a{

  display: flex;

  justify-content: space-around;
 text-decoration: none;
  color: white;
  font-size: 13px;
  margin: 19%;
}


#liste li a:hover{

color: #f57e37;
}



#a_flexible li{


  display: flex;
  justify-content: flex-start;


}


#corection{
         color: white;
    /*! padding-right: 162px; */

         margin-top: 54px;
         margin-bottom: 54px;
}
#corection_2{
         color: white;
font-size: 2em;

}
