

  html{

     background-color: #2b2d2de6;
     font-size: 20px;
     display: flex;
     align-items: flex-start;
     justify-content: center;
     --couleur_bouton:#f57e37;
     --couleur_font:#868689;
  }
  


@media (min-width: 1px) and (max-width: 499px) {

  html{

     background-color: #2b2d2de6;
     font-size: 30%;
     display: flex;
     align-items: flex-start;
     justify-content: center;
  }
}



a:hover {
color: #f57e37;
}


a {

text-decoration: none;
margin-right: 46px;
color: var(--couleur_font);
}




#body  {
 font-family: "Source code pro", arial, Sans-serif;
   display: flex;
   justify-content: center;
 flex-direction: column;

 margin-top: 2%;
margin-left: 5%;
margin-right: 5%;
 /*transform: scale(1,1);*/
 transform: translate(0px,100px);
}


#liste_body{

  padding: 0px;
}


#liste_body li{
       display: flex;
       justify-content: center;

}


#main_1 :hover{


     z-index: 3;

}


#main_1{

    margin-top: 0px;
width: 85%;
font-weight:lighter;


background: linear-gradient(
rgba(0, 0, 0, 0.45),
rgba(0, 0, 0, 0.45)
), url("images/image-499666622.jpg");

 transform: rotateZ(0deg);

 z-index: 3;
    background-size: 100%;
}

#main_2{
width: 85%;
    margin-top: 0px;

      font-weight:lighter;

 z-index: 2;
}




#centrage {
  width: 60%;

}


#bp_orange{
border:none;
background-color: #d28031;
width: 135px;

height: 40px;
color: white;

margin-bottom: 6%;
}

h1{margin: 0%;}








#our_team{
      display: flex;


  /* text-align: center;*/
    justify-content: center;

}



#formulaire{


    background-color: white;
          display: flex;


  /* text-align: center;*/
  justify-content: center;
}

#formulaire p,label{

color: var(--couleur_font)

}


#from {


  background: linear-gradient(
  rgba(0, 0, 0, 0.45),
  rgba(0, 0, 0, 0.45)
  ), url("images/image-876206940.jpg");

    height: 11%;
    display: flex;
     justify-content: center;
     align-items: center;
  background-size: 100%;
}

#from #centrage h2 {

  color: white;

}




footer{

       background-color: #3b3939;
       color: white;
        display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 59px;
}


#a_flexible {
display: flex;
flex-direction: column;
justify-content: center;
list-style-type: none;

margin-top: 24%;
padding-left: 0%;

}

footer p{

  font-size:16px;
margin: 4px;

}

footer #centrage :nth-child(1),:nth-child(3){

color: grey;


}
