

#section_our_team{

  width: 100%;

  background-color: white;

  display: flex;

  justify-content: center;

}


#a_images {

  display: flex;

  justify-content: center;

  width: 100%;
font-size: 15px;
margin-bottom: 8%;
}

#tete_1,#tete_2,#tete_3 {
width: 100%;
margin-bottom: 10%;
}


#static{
  background: linear-gradient(
  rgba(0, 0, 0, 0.45),
  rgba(0, 0, 0, 0.45)
  ), url("images/imagetest.jpg");


    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
color: white;

      display: flex;


  /* text-align: center;*/
  justify-content: center;
align-items: center;
}






#static #centrage h2 {

margin-top: 10%;
color: white;



}
