#X {

  background-color: white;

  display: flex;
  justify-content: center;
  width: 100%;

}

#liste_image_1{

padding: 0px;
width: 100%;

display: flex;
justify-content: center;
}




#liste_image_2{

padding: 0px;
width: 100%;

display: flex;
justify-content: center;
margin-bottom: 10%;
}

#images{

  background-color: azure;
  width: 100%;
  height: 43%;


}


#modif_images{

  width: 100%;
  height: 100%;
}

#modif_imagex{

  width: 100%;
  height: 100%;
}


#liste_image_1 div{


  width: 100%;

}

#liste_image_2 div{


  width: 100%;

}






#lien{
  display: flex;

  padding-left: 0px;

  justify-content: space-around;

  padding-bottom: 4%;

}

#orange{
  display: flex;

  justify-content: center;

  background-color: var(--couleur_bouton);

  color: wheat;



align-items: center;
}


#orange #centrage h2{
  
  color: white;
   
  font-size: 20px;
  
}







#titre_orange{

font-size: 84%;
margin-top: 9%;
}

#stef{
font-size: 12px;

}


#petit_bouton{

background-color: var(--couleur_bouton);


color: white;

border: none;
display: flex;
float: left;


background-color: #725a4466;

color: wheat;

width: 24px;

height: 19px;

display: flex;

align-items: center;
margin-bottom: 10%;
}
